.app-modal {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  cursor: default;
  max-height: 95vh;
  max-width: 95vh;
  display: flex;
  flex-direction: column;

  &:focus {
    outline: none;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
  }

  &__content {
    overflow-y: scroll;
  }

  &__close-btn {
    margin-left: auto;

    button {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.3em;
    }
  }
}
